DOCUMENT.vspace.before: 0
DOCUMENT.vspace.after: 0
DOCUMENT.indent.left: 0
DOCUMENT.indent.right: 0
OL.vspace.before: 0
OL.vspace.after: 0
OL.vspace.between: 0
UL.vspace.before: 0
UL.vspace.after: 0
UL.vspace.between: 0
DIR.vspace.before: 0
DIR.vspace.after: 0
DIR.vspace.between: 0
MENU.vspace.before: 0
MENU.vspace.after: 0
MENU.vspace.between: 0
DL.vspace.before: 0
DL.vspace.after: 0
DL.vspace.between: 0
OL.indents: 0
UL.indents: 0
DIR.indents: 0
MENU.indents: 0
UL.default_types: NO_BULLET
DIR.default_types: NO_BULLET
MENU.default_types: NO_BULLET
LI.disc: \ 
LI.circle: \ 
LI.square: \ 
DT.vspace.before: 0
DT.vspace.after: 0
DT.indent.left: 0
DT.indent.right: 0
HR.marker: \ 
HR.vspace.before: 0
HR.vspace.after: 0
HR.indent.left: 0
HR.indent.right: 0
H1.prefix: \ 
H2.prefix: \ 
H3.prefix: \ 
H4.prefix: \ 
H5.prefix: \ 
H6.prefix: \ 
H1.suffix: \ 
H2.suffix: \ 
H3.suffix: \ 
H4.suffix: \ 
H5.suffix: \ 
H6.suffix: \ 
H1.vspace.before: 0
H2.vspace.before: 0
H3.vspace.before: 0
H4.vspace.before: 0
H5.vspace.before: 0
H6.vspace.before: 0
H1.vspace.after: 0
H2.vspace.after: 0
H3.vspace.after: 0
H4.vspace.after: 0
H5.vspace.after: 0
H6.vspace.after: 0
H1.attributes: NONE
H2.attributes: NONE
H3.attributes: NONE
H4.attributes: NONE
H5.attributes: NONE
H6.attributes: NONE
U.attributes: NONE
B.attributes: NONE
STRIKE.attributes: NONE
A.attributes: NONE
IMG.attributes: \ 
IMG.alt.prefix: \ 
IMG.alt.suffix: \ 

